.jumbotron {
	margin-bottom: 0rem !important;
	background: url(https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	background-size: cover;
}

nav {
	margin-bottom: 4rem;
}

footer {
	margin-top: 4rem;
	background-color: lightgrey;
}

.error {
    color:#FF0000;
}