.jumbotron {
	margin-bottom: 0rem !important;
	background-image: url(https://images.unsplash.com/photo-1444653389962-8149286c578a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1045&q=80);
	background-size: cover;
}

nav {
	margin-bottom: 4rem;
}

footer {
	margin-top: 4rem;
	background-color: lightgrey;
}

.error {
    color:#FF0000;
}